{# @var objectList \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\BarMenu\Models\Type1[] #}
{% for type1 in objectList %}
    <div class="object type1">
        <h2>{{ type1.label }}</h2>
        {% for type2 in type1.type2List %}
            {# @var type2 \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\BarMenu\Models\Type2 #}
            <div class="object type2">
                <h3>{{ type2.label ?? '[No title]' }}</h3>
                {% for type3 in type2.type3List %}
                    {# @var type3 \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\BarMenu\Models\Type3 #}
                    <div class="object type3">
                        <h4>{{ type3.label  ?? '[No title]' }}</h4>
                        {% for drink in type3.drinkList %}
                            {# @var drink \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\BarMenu\Models\Drink #}
                            <div class="object drink">
                                <h5>{{ drink.name }}</h5>
                                <dl>
                                    {% if drink.ingredients %}
                                        <dt>Ingredients</dt>
                                        <dd>{{ drink.ingredients }}</dd>
                                    {% endif %}
                                    {% if drink.price %}
                                        <dt>Price</dt>
                                        <dd>{{ drink.price }}</dd>
                                    {% endif %}
                                    <dt>Included in Pass Bar Premium</dt>
                                    <dd>{{ drink.includedInPassBarPremium ? 'Yes' : 'No' }}</dd>
                                </dl>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}