{# @var objectList \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\SpaMenu\Models\Menu[] #}
{% for menu in objectList %}
    <div class="object menu">
        <h2>{{ menu.label }}</h2>
        {% if menu.brand %}
            <dl>
                <dt>Brand</dt>
                <dd>{{ menu.brand }}</dd>
            </dl>
        {% endif %}
        {% for type2 in menu.type2List %}
            {# @var type2 \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\SpaMenu\Models\Type2 #}
            <div class="object type2">
                <h3>{{ type2.label ?? '[No title]' }}</h3>
                {% for care in type2.careList %}
                    {# @var care \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\SpaMenu\Models\Care #}
                    <div class="object care">
                        <h4>{{ care.name }}</h4>
                        <dl>
                            {% if care.description %}
                                <dt>Description</dt>
                                <dd>{{ care.description }}</dd>
                            {% endif %}
                            <dt>Duration</dt>
                            <dd>{{ care.duration }}</dd>
                            {% if care.gender %}
                                <dt>Gender</dt>
                                <dd>{{ care.gender }}</dd>
                            {% endif %}
                            {% if care.price %}
                                <dt>Price</dt>
                                <dd>{{ care.price }}</dd>
                            {% endif %}
                        </dl>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}