{# @var objectList \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\WineMenu\Models\Color[] #}
{% for color in objectList %}
    <div class="object color">
        <h2>{{ color.label }}</h2>
        {% for region in color.regionList %}
            {# @var region \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\WineMenu\Models\Region #}
            <div class="object region">
                <h3>{{ region.label }}</h3>
                {% for subRegion in region.subRegionList %}
                    {# @var subRegion \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\WineMenu\Models\SubRegion #}
                    <div class="object subRegion">
                        <h4>{{ subRegion.label  ?? '[No title]' }}</h4>
                        {% for wine in subRegion.wineList %}
                            {# @var wine \Infostrates\PonantWebservicesCommons\Domains\MenuOnBoard\WineMenu\Models\Wine #}
                            <div class="object wine">
                                <h5>{{ wine.name }}</h5>
                                <dl>
                                    <dt>Description</dt>
                                    <dd>{{ wine.description }}</dd>
                                    {% if wine.domain %}
                                        <dt>Domain</dt>
                                        <dd>{{ wine.domain }}</dd>
                                    {% endif %}
                                    {% if wine.year %}
                                        <dt>Year</dt>
                                        <dd>{{ wine.year }}</dd>
                                    {% endif %}
                                    {% if wine.price %}
                                        <dt>Price</dt>
                                        <dd>{{ wine.price }}</dd>
                                    {% endif %}
                                </dl>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endfor %}