<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ponant Webservices Commons Tests</title>
</head>
<body>
<h1>Ponant Webservices Commons</h1>
<ul>
    <li><a href="{{ path('preview_bar_menu', {'language': 'fr'}) }}">Preview Bar menu FR</a></li>
    <li><a href="{{ path('preview_bar_menu', {'language': 'en'}) }}">Preview Bar menu EN</a></li>
    <li><a href="{{ path('preview_spa_menu', {'language': 'fr'}) }}">Preview Spa menu FR</a></li>
    <li><a href="{{ path('preview_spa_menu', {'language': 'en'}) }}">Preview Spa menu EN</a></li>
    <li><a href="{{ path('preview_wine_menu', {'language': 'fr'}) }}">Preview Wine menu FR</a></li>
    <li><a href="{{ path('preview_wine_menu', {'language': 'en'}) }}">Preview Wine menu EN</a></li>
</ul>
</body>
</html>