<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Preview</title>
</head>
<body>
    <h1>Preview</h1>
    {{ include(targetTemplate, {objectList: objectList}) }}
</body>
</html>